<p style="font-size: 1.3em; line-height: 1.35em;">
<i>AI Safety for Fleshy Humans</i> was made by
<a href="https://ncase.me/">Nicky Case</a>
in collaboration with
<a href="https://hackclub.com/">Hack Club</a>.
</p>
<p>
🦕 <b>Hack Club</b>
is a non-profit to help teens <i>help each other</i> learn to code & create.
Learning, by making stuff you actually care about!
Where it's not "cheating" to team up with friends!
Gee, what a concept!
</p>
<p>
😻 <b>Nicky Case</b>
is fifteen cats in a trenchcoat.
She makes internet playthings, like
<a href="https://ncase.me/trust/">The Evolution of Trust</a>,
<a href="https://ncase.me/anxiety/">Adventures with Anxiety</a>,
<a href="https://explorabl.es/">Explorable Explanations</a>, and more.
</p>
<p>
💸 If you're <i>not</i> a teen, and are an AI moneybags person,
click these links to
<a href="https://hackclub.com/philosophy/">learn more about Hack Club</a>
and how to
<a href="https://hackclub.com/philanthropy/">support them!</a>
Also, Nicky has a
<a href="https://www.patreon.com/ncase">Patreon</a>
&
<a href="https://ko-fi.com/nickycase">Ko-Fi</a>.
(p.s:
<a href="TODO">thank-you page for my supporters!</a>)
</p>
<p style="text-align:center">
. . .
</p>
<p>
Special thanks to these teens at Hack Club for
<s>being free child labor</s>
beta-reading & giving feedback on this piece:
</p>
<blockquote>
names
</blockquote>
<p>
Also thank you to these non-teenagers for giving feedback:
</p>
<blockquote>
names
</blockquote>
<p>
Any errors remaining are solely the fault of
<a href="TODO">Susan the Scapegoat</a>.
</p>
<p style="text-align:center">
. . .
</p>
<p>
<i>AI Safety For Fleshy Humans</i> is free for anyone to share & remix,
as long as it's for non-commercial use (e.g. education):
<a href="https://creativecommons.org/licenses/by-nc/4.0/deed.en">CC BY-NC 4.0</a>
</p>
<p>
If you'd like to cite this work and you're a Serious Person™, here's your citation:
</p>
<blockquote>
Nicky Case, <i>“AI Safety for Fleshy Humans”</i>,<br>
https://AIsafety.dance, Hack Club (2024).
</blockquote>
<p>
Finally, here's the
<a href="TODO">open-source code</a>
for this website!
</p>
<p>
Thank you for being the kind of person to read the credits~ 🙏
</p>