<p style="font-size: 1.3em; line-height: 1.35em;">
<i>AI Safety for Fleshy Humans</i> was made by
<a href="https://ncase.me/">Nicky Case</a>
in collaboration with
<a href="https://hackclub.com/">Hack Club</a>.
</p>
<p>
🦕 <a href="https://ncase.me"><b>Hack Club</b></a>
is a nonprofit where teenagers code awesome projects together -
like <a href="https://cpu.land">cpu.land</a>,
<a href="https://sinerider.com">SineRider</a>,
and this!
Join
<a href="https://hackathons.hackclub.com">in-person hackathons</a>,
run a
<a href="https://hackclub.com/clubs/">club at your school</a>,
and
<a href="https://hackclub.com/slack/">connect with other friendly teenagers</a>.
</p>
<p>
😻 <a href="https://ncase.me"><b>Nicky Case</b></a>
is fifteen cats in a trenchcoat.
She makes internet playthings, like
<a href="https://ncase.me/trust/">The Evolution of Trust</a>,
<a href="https://ncase.me/anxiety/">Adventures with Anxiety</a>,
<a href="https://explorabl.es/">Explorable Explanations</a>, and more.
</p>
<p>
💸 If you're <i>not</i> a teen, and are an AI moneybags person,
click these links to
<a href="https://hackclub.com/philosophy/">learn more about Hack Club</a>
and how to
<a href="https://hackclub.com/philanthropy/">support them!</a>
Also, Nicky has a
<a href="https://www.patreon.com/ncase">Patreon</a>
&
<a href="https://ko-fi.com/nickycase">Ko-Fi</a>.
(p.s:
<a href="{{root}}signup/supporters-p1.html">thank-you page for my supporters!</a>)
</p>
<p style="text-align:center">
. . .
</p>
<p>
Special thanks to these teens at Hack Club for
<s>being free child labor</s>
beta-reading & giving feedback on this piece:
</p>
<blockquote>

Arthur Beck,
Atharv Gupta,
Brendan Lee,
Celeste,
Charalampos Fanoulis,
Charlie,
Cheru Berhanu,
Claire Wang,
Elijah,
Fred Han,
Gia Bách Nguyễn,
Hajrah Siddiqui,
Jakob,
Joseph Ross,
Kieran Klukas,
Lexi Mattick,
Mason Meirs,
Michael Panait,
Nick Zandbergen,
Nila Palmo Ram,
Pixelglide,
py660,
rivques,
Samuel Cottrell,
Samuel Fernandez,
Saran Wagner,
Skyler Grey,
S&nbsp;P&nbsp;U&nbsp;N&nbsp;G&nbsp;E,
Vihaan Sondhi

</blockquote>
<p>
Also thank you to these non-teenagers for giving feedback:
(Though I assume they were teenagers at <i>some</i> point)
</p>

<blockquote>
Alex Kreitzberg,
B Cavello,
Paul Dancstep,
Tobias Rose-Stockwell
</blockquote>

<p>
Any errors remaining are solely the fault of
<a href="{{root}}suzie.png">Suzie the Scapegoat</a>.
</p>
<p style="text-align:center">
. . .
</p>
<p>
<i>AI Safety For Fleshy Humans</i> is free for anyone to share & remix,
as long as it's for non-commercial use (e.g. education):
<a href="https://creativecommons.org/licenses/by-nc/4.0/deed.en">CC BY-NC 4.0</a>
</p>
<p>
If you'd like to cite this work and you're a Serious Person™, here's your citation:
</p>
<blockquote>
Nicky Case, <i>“AI Safety for Fleshy Humans”</i>,<br>
https://AIsafety.dance, Hack Club (2024).
</blockquote>
<p>
Finally, here's the
<a href="https://github.com/hackclub/ai-safety-dance">open-source code</a>
for this website!
</p>
<p>
Thank you for being the kind of person to read the credits~ 🙏
</p>