<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

    <!-- Title -->
    <title>{{ title }}</title>

    <!-- UTF-8 & Mobile -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Links are external by default -->
    <base target="_blank">

	<!-- Favicon -->
	<link rel="icon" type="image/png" href="favicon.png">

    <!-- Social Share Nonsense -->
	<meta itemprop="name" content="{{ title }}">
	<meta itemprop="description" content="{{ share_desc }}">
	<meta itemprop="image" content="{{ share_image }}">
	<meta property="og:title" content="{{ title }}">
	<meta property="og:type" content="website">
	<meta property="og:image" content="{{ share_image }}">
	<meta property="og:description" content="{{ share_desc }}">
    <meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="{{ title }}">
	<meta name="twitter:description" content="{{ share_desc }}">
	<meta name="twitter:image" content="{{ share_image }}">

	<!-- STYLES -->
	<link rel="stylesheet" href="{{root}}styles/Merriweather/merriweather.css">
    <link rel="stylesheet" href="{{root}}styles/Open_Sans/opensans.css">
    <link rel="stylesheet" href="{{root}}styles/littlefoot.css"/> <!-- before page.css, so page can override it -->
	<link rel="stylesheet" href="{{root}}styles/page.css">

	<!-- SCRIPTS -->
    <!-- Littlefoot: for my feetnotes -->
    <script src="{{root}}scripts/littlefoot.js" ></script>
    <!-- Nutshell: expandable explanations -->
    <script src="{{root}}scripts/nutshell-v1.0.5.js"></script>
    <script> Nutshell.setOptions({ startOnLoad: false, /* Start AFTER footnotes loaded */ }); </script>
    <!-- MathJAX: for nice math -->
    <script src="{{root}}scripts/tex-mml-chtml.js"></script>
	<!-- This website's own scripts -->
    <script src="{{root}}scripts/page.js"></script>
    <!-- Hack Club's no-cookies, GDPR-compliant analytics -->
    <script defer data-domain="aisafety.dance" src="https://plausible.io/js/script.js"></script>

</head>
<body>

<!-- HACKBRAND -->
<a class="orpheus-flag" target="_blank" href="https://hackclub.com/">
	<img src="{{root}}styles/orpheus-flag.svg" width="560" height="315" alt="A project by Hack Club" aria-label="A project by Hack Club">
</a>

<!-- The Sidebar UI -->
<div id="return_to_content"></div>
<div id="sidebar">
	<div id="panel_toc"></div>

    <!-- STYLE CHANGER -->
	<div id="panel_style">

        <div id="style_dark_mode_container" style="cursor:pointer;">
            <input type="checkbox" id="style_dark_mode" style="pointer-events: none;">
            Dark Mode
        </div>
        <br>

        Font size:
        <span id="style_fontsize"></span>
        <br>
        <input type="range" id="style_fontsize_slider" min="10" value="19" max="40">
        <br>

        Font type:
        <br>
        <label>
            <input type="radio" name="style_font_family" value="serif" checked>
            <span style="font-family:'Merriweather'">Serif</span>
        </label>
        <br>
        <label>
            <input type="radio" name="style_font_family" value="sans_serif">
            <span style="font-family:'Open Sans'">Sans Serif</span>
        </label>
        <br><br>

        <button id="style_reset">Reset</button>

    </div>

    <!-- TRANSLATIONS -->
	<div id="panel_translations">
        <!-- none... sorry -->
    </div>
	<div id="panel_share">share on... w/e</div>
    <!-- SHILLING FOR BIG NICKY -->
	<div id="panel_sub">
    </div>
    <div id="panel_support"></div>

</div>

<!-- Reading Time Clock! -->
<div id="reading_time">
	<div id="clock_icon"></div>
	<div id="clock_label"></div>
</div>

<!-- EVERYTHING TO THE LEFT of the sidebar... -->
<div id="everything_container">

    <!-- A big cute header -->
    <div id="header" class="{{ 'frontpage' if isFrontpage else 'chapter' }}">
        <div id="splash_image">

            {% if isPartOne %}
            <img id="p1-cat" src="../media/p1/P1Cat.png"/>
            {% endif %}
            {% if isPartTwo %}
            <img id="p2-banner" src="../media/p2/P2Cat.png"/>
            {% endif %}

            <div id="crt_lines"></div>
            <div id="static"></div>

            {% if isFrontpage %}
            <img id="dancing" width="400" src="media/splash/noone.png"/>
            {% endif %}

        </div>
        {% if isFrontpage %}

            <div id="header_words">
                <div id="title">
                    AI Safety for Fleshy Humans
                </div>
                <div id="subtitle">
                    by
                    <a href="https://ncase.me">Nicky Case</a>
                    &amp;
                    <a href="https://hackclub.com/">Hack Club</a>
                </div>
            </div>

        {% elif isPartOne %}

            <div id="header_words">
                <div id="title">
                    P<span style="position: relative;left: -7px;">A</span>RT
                    O<span style="position: relative;left: -4px;">N</span>E
                </div>
                <div id="subtitle">
                    The Past, Present, &amp; Possible Futures
                </div>
            </div>

        {% elif isPartTwo %}

        <div id="header_words">
            <div id="title">
                P<span style="position: relative;left: -7px;">A</span>RT
                T<span style="position: relative;left: 6px;">W</span>O
            </div>
            <div id="subtitle">
                The Problems
            </div>
        </div>

        {% elif isPartThree %}

        <div id="header_words">
            <div id="title">
                P<span style="position: relative;left: -7px;">A</span>RT
                THREE
            </div>
            <div id="subtitle">
                The Proposed Solutions
            </div>
        </div>

        {% endif %}
	</div>

    <!-- Chapter Navigation -->
    <div id="chapter_nav">
        <div id="chapter_nav_centered">
            <a target="_self" href="{{root}}"
                class="live">
                <div {{ 'selected' if isFrontpage }}>
                    <span class='chapter-nav-desktop'>
                        introduction
                    </span>
                    <span class='chapter-nav-phone'>
                        intro
                    </span>
                </div>
            </a>
            <a target="_self" href="{{root}}p1"
                class="live">
                <div {{ 'selected' if isPartOne }} >
                    <span class='chapter-nav-desktop'>
                        part 1<br>past & future
                    </span>
                    <span class='chapter-nav-phone'>
                        part 1
                    </span>
                </div>
            </a>
            <a target="_self" href="{{root}}p2"
                class="live">
                <div {{ 'selected' if isPartTwo }} >
                    <span class='chapter-nav-desktop'>
                        part 2<br>problems
                    </span>
                    <span class='chapter-nav-phone'>
                        part 2
                    </span>
                </div>
            </a>
            <a target="_self" href="#"
                title="COMING MID-DECEMBER 2024, probably"
                onclick="alert('COMING MID-DECEMBER 2024, probably')">
                <div>
                    <span class='chapter-nav-desktop'>
                        part 3<br>solutions?
                    </span>
                    <span class='chapter-nav-phone'>
                        part 3
                    </span>
                </div>
            </a>
            <a target="_self" href="#"
                title="COMING MID-DECEMBER 2024, probably"
                onclick="alert('COMING MID-DECEMBER 2024, probably')">
                <div style="border-right:1px solid rgba(128,128,128,0.8);">
                    <span class='chapter-nav-desktop'>
                        conclusion
                    </span>
                    <span class='chapter-nav-phone'>
                        outro
                    </span>
                </div>
            </a>
        </div>
    </div>

    <!-- The lil' tabs for sidebar UI -->
    <div id="sidebar_tabs">
		<div id="tab_toc">
			<div></div>
			table of contents
		</div>
		<div id="tab_style">
			<div></div>
			change style 😎
		</div>
        <!--
		<div id="tab_sub">
            CREDITS & Signup for notifications
			<div></div>
			subscribe 💖
		</div>
        -->
	</div>

    <!-- BEHOLD! CONTENT!!!!! -->
	<article id="content">
{{content}}
	</article>

    <!-- FOOTER -->
	<div id="footer">
        <div id="footer_content">
{% include 'templates/footer.html' %}
        </div>
	</div>
    <div id="post_credits">
        <p>
            Oh dang, it's a post-credits scene:
        </p>
<p>
    <a href="#AllFeetnotes">: See all feetnotes 👣</a>
</p>
<p>
    Also, expandable "Nutshells" that make good standalone bits:
</p>
{% if isFrontpage %}
<p>
    <a href="#SpacedRepetition">: What is Spaced Repetition?</a>
    <br>
    <a href="#ConcreteRogueAI">: Concrete ways an AI could 'escape containment' & affect the world</a>
</p>
<p>
    Also, the dancing robot catboy animation
    is based off <a href="https://www.youtube.com/watch?v=yD2FSwTy2lw">this JerryTerry video</a>.
</p>
{% elif isPartOne %}
<p>
    <a href="#CapabilitiesNotIntelligence">: Why say "Capabilities", not "Intelligence"</a>
    <br>
    <a href="#WhatsXOR">: What's XOR?</a>
    <br>
    <a href="#SadAIHistory">: The sad depressing story behind Artificial Neural Networks</a>
    <br>
    <a href="#OneIsTwo">: What if System 2 reasoning <i>is just</i> a bunch of System 1 reflexes?</a>
    <br>
    <a href="#AIOrganizations">: A not-rigorous, unprofessional list of Who's Who in AI/Safety</a>
</p>
{% elif isPartTwo %}
<p>
    <a href="#StoryOfPassivePrediction">: A story of how even passive prediction can lead to bad unintended results</a>
    <br>
    <a href="#SpuriousCorrelation">: How "spurious correlations" trick AI</a>
    <br>
    <a href="#OntologicalCrisis">: What's an "ontological crisis" in AI?</a>
    <br>
    <a href="#Pipocalypse">: The Pi-Pocalypse Story</a>
    <br>
    <a href="#WhatIfGoalMisgeneralizationIsGood">: What if Goal Misgeneralization is actually... good?</a>
    <br>
    <a href="#TradingWithAdvancedAIs">: Could humans trade with super-human AIs?</a>
    <br>
    <a href="#Axiom">: What's an "axiom"?</a>
</p>
{% endif %}
    </div>

</div>
</body>
</html>

<!-- Load these scripts last. Screw 'em. -->
<!-- Orbit: make memory a choice -->
<script type="module" src="https://js.withorbit.com/orbit-web-component.js"></script>