/*******************************/
/* MY BODY IS READY */
/*******************************/

html, body{
    width:100%;
    height:100%;
    margin:0;

    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 16px;

    scroll-behavior: smooth;
}
body{
    background:#fff;
    color:#000;
    transition: background 0.5s ease-in-out,
                color 0.5s ease-in-out;
}
body[dark_mode=yes]{
    background:#000;
    color:#fff;
}
body[dark_mode=no]{
}
body[font_family=sans_serif]{
    font-family: 'Open Sans', sans-serif;
}
body[font_family=serif]{
}
body[font_family=dyslexic]{
    font-family: 'Open Dyslexic';
    font-size: 14.5px;
}


/*******************************/
/* LITTLEFOOTNOTES */
/*******************************/

.littlefoot {
  --button-background-color: #ddd;
  --button-active-background-color: #aaa;
  --button-text-color: #888;
}
.littlefoot__popover{
    text-align: left;
}

/*******************************/
/* MISC TAG CRAP */
/*******************************/

b,strong{
    font-weight:900;
}
hr{
    /*border: none;
    border-top: 3px dotted #b9b9b9;
    margin: 2.5em auto;*/
    border: none;
    border-top: 3px dashed #333;
    margin: 3.5em auto;
    position: relative;
    left: -50%;
    width: 200%;
}
.footnotes-sep{
    display: none;
}
iframe{
    border: 1px solid #ddd;
}
a{
    color: hsla(0, 80%, 60%);
    transition: color 0.1s;
}
a:hover{
    color: hsla(0, 80%, 70%);
}
a.black-link{
    color: inherit;
    opacity: 1.0;
}
a.black-link:hover{
    opacity: 0.5;
}
p{
    margin: 1.8em 0;
}
span.light{
    opacity:0.45;
}

ol,ul{
    padding-left: 1em;
}
p + ul{
    margin-top: -1em;
}
ul ul{
    margin-top: 0;
}

blockquote, .nutshell-bubble blockquote{
    border-left: 5px solid rgba(128,128,128,0.4);
    margin-left: 0;
    /*padding-left: 2em;*/
    padding: 0px 1em 0px 1.5em;
    margin-top: 2em;
}
blockquote > p, .nutshell-bubble blockquote > p{
    margin: 1em 0;
}
img{
    text-align: center;
}
img + em{
    display: block;
    text-align: center;
}

.nutshell-bubble-overflow-section > div p{
    margin: 1em 0;
}
.nutshell-bubble blockquote{
    margin-top: 1em;
}

s{
    text-decoration-thickness: 0.1em;
}

/*******************************/
/* HEADER */
/*******************************/

#header{
    position: relative;
    width:100%;
    font-weight: 900;
    font-size: 60px;
    color:#000;
    text-align: center;
    overflow: hidden;
    animation: header-background 8s linear infinite;
}
@keyframes header-background {
    0% {
        background-color: #41898D
    }
    50% {
        background-color: #91237A
    }
    100%{
        background-color: #41898D
    }
}
#header #splash_image{
    position: absolute;
    width: 100%;
}
#header > #header_words{
    color: #fff;
    position: relative;
    top: 0;
    width: 100%;
    overflow: hidden;
}
#header > #header_words > #title{
    line-height: 1em;
}
#header > #header_words > #subtitle{
    font-weight: 600;
    font-size: 25px;
    margin-top: 10px;
}
#header a{
    color:#fff;
    position: relative;
    transition: top 0.1s;
    top:0px;
}
#header a:hover{
    color:#fff;
    top:-2px;
}

/* FOR FRONTPAGE ONLY */
#header.frontpage{
    height:500px;
}
#header #dancing{
    position: relative;
    top:20px;
}
#header > #header_words{
    position: absolute;
    top: 355px;
    text-shadow: -3px 0px 0px rgba(255,0,0,0.35), 3px 0px 0px rgba(0,0,255,0.35);
}
#crt_lines{
    background: url(../media/splash/crt_lines.png);
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    background-size: 100% 500px;
}
#static{
    background: url(../media/splash/static.png);
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    background-size: 100% 500px;
    background-position: 0px 250px;
}

/* FOR ARTICLE */
#header.chapter{
    height:300px;
}
#header.chapter > #header_words{
    text-shadow: -4px 0px 0px rgba(255,0,0,0.35), 4px 0px 0px rgba(0,0,255,0.35);
}

/*******************************/
/* CHAPTER NAVIGATION */
/*******************************/

#chapter_nav{
    background: rgba(128,128,128,0.1337);
    overflow: hidden;
}
#chapter_nav #chapter_nav_centered{
    width:656px;
    margin:0 auto;
    overflow: hidden;
    text-align: center;
}
#chapter_nav a{
    cursor: default;
    text-decoration: none;
}
#chapter_nav a > div{
    float: left;
    width: 120px;
    padding: 11px 5px 13px 5px;
    font-size: 16px;
    color: rgba(128,128,128,0.8);
    border-left: 1px solid rgba(128,128,128,0.8);
    height: 40px;
    transition: background 0.2s;
    background: rgba(255,255,255,0);
}
#chapter_nav a.live:hover > div{
    cursor: pointer;
    background: rgba(255,255,255,0.7);
}
#chapter_nav a > div[selected]{
    font-weight: 900;
    background: #fff;
}

/*******************************/
/* THE ACTUAL CONTENT! ! ! ! ! */
/*******************************/

#content{

    position: relative;

    width: 640px;
    margin: 68px auto 68px auto;

    font-size: 19px;
    line-height: 1.8em;

    /*text-align: justify; / TOTO MAYBE ??? */

}

.scroll-anchor{
    position: relative;
    top: -1em;
}

#warning_message{
    background: #ffda94;
    color: #000;
    padding: 0.65em 1em;
    line-height: 1.5em;
}
#draft_feedback{
    width: 200px;
    height: calc(100% - 60px);
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999;
}
@media (max-width: 1100px) {
    #draft_feedback{
        display: none !important;
    }
}

#content p img{
    max-width: 100%;
    border: 2px inset rgba(128,128,128,0.1337);
}

/*******************************/
/* ARTICLE SUMMARY VIEW */
/*******************************/

.article-summary{
    color: #000;
    position: relative;
    width: 638px;
    min-height: 120px;
    border: 1px solid #ddd;
    overflow: hidden;
    top:0;
    margin-bottom:0.75em;

    transition: top 0.1s ease-in-out,
                color 0.5s ease-in-out;
}
body[dark_mode=yes] .article-summary{
    color:#fff;
}
.article-summary:hover{
    top:-5px;
}
.article-summary #article-thumb{
    float:left;
    width: 240px;
    height: 120px;
    background-size: auto 100%;
    background-position: 50% 50%;
}
.article-summary #article-desc{
    width: 370px;
    float: right;
    padding-top: 0.5em;
    padding-right: 10px;
    font-size: 0.9em;
    line-height: 1.5em;
}
.article-summary #article-title{
    text-decoration: underline;
}
.article-summary #article-metadata{
    opacity: 0.45;
}

.littlefoot{
    top: -0.5em;
    left: -0.15em;
    --button-border-radius: 0px;
    --button-padding: 0px 0.4em;
    --button-margin: 0px;
}

/*******************************/
/* ARCHIVE */
/*******************************/

.archive-year{
    text-align: center;
    font-size: 30px;
    margin-top: 45px;
}

/*******************************/
/* READING TIME */
/*******************************/

#reading_time{
    position: fixed;
    right: 10px;
    bottom: 13px;
    text-align: center;
    z-index: 999;
}
#reading_time > #clock_icon{
    width:40px; height:40px;
    background-size: 480px;
    background-image: url(assets/clock.png);
    display: inline-block;
}
body[dark_mode=yes] #reading_time > #clock_icon{
    background-image: url(assets/clock_dark.png);
}
#reading_time > #clock_label{
    font-size:12px;
    text-align: center;
    width:100%;
    position: relative;
    top: -4px;
}

/*******************************/
/* SIDEBAR & ITS TABS */
/*******************************/

#return_to_content{
    position: fixed;
    width:100%; height:100%;
    /*background: linear-gradient(90deg, rgba(128,128,128,0) 0%, rgba(128,128,128,0.3) 100%);*/
    background: rgba(0,0,0,0);
    z-index: 101;
    display: none;
}

#everything_container{
    width:100%;
    transition: width 0.3s ease-in-out;
    overflow-x: hidden;
}
#sidebar{
    position: fixed;
    right: -200px;
    width: 200px;
    height: 100%;
    background: #e8e8e8;
    z-index: 103;

    transition: right 0.3s ease-in-out,
                background 0.5s ease-in-out,
                color 0.5s ease-in-out;
}
#sidebar > div{
    width:160px;
    margin:20px;
}

body[sidebar_state=open] #return_to_content{
    display: block;
}

body[sidebar_state=open] #everything_container{
    width: calc(100% - 200px);
}
body[sidebar_state=open] #sidebar{
    right: 0px;
}
body[sidebar_state=open] #sidebar_tabs{
    right: 55px;
}

#sidebar a{
    color:inherit;
}
#sidebar a:hover{
    opacity:0.5;
}

#sidebar_tabs{
    position: fixed;
    right:-145px;
    top: calc(50% - 100px);
    z-index: 102;

    transition: right 0.3s ease-in-out,
                background 0.5s ease-in-out,
                color 0.5s ease-in-out;
}
#sidebar_tabs > div{
    background: #e8e8e8;

    width:200px;
    height:45px;
    margin-bottom:5px;

    left: 0px;
    position: relative;

    cursor: pointer;
    line-height: 45px;

    transition: left 0.22s ease-in-out,
                background 0.5s ease-in-out,
                color 0.5s ease-in-out;
}
#sidebar_tabs > div:hover{
    left: -145px;
}
#sidebar_tabs > div > div{
    width:40px;
    height: 40px;
    float:left;
    margin: 2.5px 10px 2.5px 5px;
    background-size: 100%;
    transition: opacity 0.1s ease-in-out;
    opacity: 0.7;
}
#sidebar_tabs > div:hover > div{
    left: 0px;
    opacity: 1.0;
}
#tab_toc > div{ background-image: url(assets/icons/toc.png); }
#tab_style > div{ background-image: url(assets/icons/style.png); }
#tab_translations > div{ background-image: url(assets/icons/translations.png); }
#tab_share > div{ background-image: url(assets/icons/share.png); }
#tab_sub > div{ background-image: url(assets/icons/subscribe.png); }
#tab_support > div{ background-image: url(assets/icons/support.png); }

#sidebar > #panel_toc{
    width: 180px;
    margin-right: 0px;
    height: 100%;
    margin-top: 0px;
    overflow-y: scroll;
}
ul#toc_list{
    font-size: 0.9em;
    padding-left: 0;
    list-style-type: none;
    padding-right: 10px;
    padding-right: 1em;
}
ul#toc_list li{
    margin-bottom:0.33em;
}

body[dark_mode=yes] #sidebar{
    background: #333;
    color:#fff;
}
body[dark_mode=yes] #sidebar_tabs > div{
    background: #333;
    color:#fff;
}

input#submit{
    cursor: pointer;
    margin-top: 5px;
    background: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition:all 0.1s ease-in-out;
    position: relative;
    top:0;
}
input#submit:hover{
    top:-1px;
    background: #777;
}

/* Mobile "friendly" */
@media (max-width: 800px) {
    #sidebar, #sidebar_tabs{
        display: none !important;
    }
    #content{
        width: 400px !important;
    }
    #header{
        font-size: 50px !important;
    }
}


/*******************************/
/* FOOTER */
/*******************************/

#footer{
    width: 100%;
    overflow: hidden;

    background: #222;
    color: #fff;

    padding: 2em 0 800px 0;
    /*height: 9em;*/
    text-align: justify;

    line-height: 1.5em;
    font-size: 18px;
}
#footer #footer_content{
    width: 640px;
    margin: 0 auto;
}
#footer p{
    margin: 1.3em 0;
}
#footer blockquote{
    margin-top: 1em;
}
#footer a{
    color: hsl(0, 100%, 70%);
    transition: color 0.1s;
}
#footer a:hover{
    color: hsl(0, 100%, 80%);
}
#post_credits{
    width: 640px;
    margin: 0 auto;
    font-size:16px;
    line-height: 1.7em;
    padding-bottom: 200px;
    padding-top: 20px;
}
#post_credits p{
    margin: 1.3em 0;
}

/*******************************/
/* ORPHEUS */
/*******************************/

.orpheus-flag {
    position: absolute;
    top: -118px;
    left: 20px;
    display: block;
    width: 140px;
    transform-origin: top left;
    z-index: 9999;
}
.orpheus-flag img {
    width:100%;
}
.orpheus-flag:hover {
    background:none;
    animation:orpheus-flag-wave .3s ease-in-out infinite
}
@keyframes orpheus-flag-wave {
    0% {
        transform:rotate(0)
    }
    50% {
        transform:rotate(-3deg)
    }
    100% {
        transform:rotate(0)
    }
}